// Import page-specific CSS files here.
@import "home";
@import "show";

.list-menu {
  padding-bottom: 100px;
}

.title-position {
  padding: 10px 0 10px 0;
}

.font-title {
  font-family: cursive;
  color: white;
  font-size: xx-large;
}
