
<div class="align-center">
  <h1><strong>Chez COOKER OPS</strong></h1>
  <p>Découvrez les spécialités culinaires du monde</p>
  <a class="btn btn-warning" href="<%= plats_path %>"><b>Voir le menu</b></a>
</div>
