.position-button {
  position: relative;
  left: 20px;
  top: 10px;
}

.button-return {
  text-decoration: none;
  color:blanchedalmond;
  top: 50px;

}

.position-center {
  padding: 20px;
  text-align: center;

}

.button-comment {
  text-decoration: none;
  color: whitesmoke;
  background-color: orange;
  padding: 10px;
  border-radius: 15px;


}
